<%= link_to 'New Event', new_event_path %>


<div class="container">
  <div class="row">
    <div class="col-md-10">
      <%= month_calendar events: @events do |date, meetings| %>
        <%= date.day %>
        <% meetings.each do |meeting| %>
        <div>
          <%=link_to  meeting.title, event_path(meeting.id) %>
          <%= meeting.start_time %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
